/* https://www.figma.com/file/337UIo7ZpbzD64sUX04h1J/03.1.-Creative-Agency-Landing-Page?node-id=0%3A23&mode=dev */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
}

body {
    font-size: 1.6rem;
}

:root {
    --primary-color: #143c3c;
    --white-color: #fff;
    --text-color-black-gray: #575d5e;
    --color-black: #152427;
    --color-light-green: #e2eddf;
    --color-light-gray: #7d8188;
    --color-gray: #6a8383;
    --color-blue: #83a17d;
}

/* common */
.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 80px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: 173px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    --height: 57px;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 500;
    transition: all ease 0.25s;
}

.btn:hover {
    cursor: pointer;
    border: 1.5px solid #143c3c;
    background: var(--white-color);
    color: var(--primary-color);
}
/* header */

.header {
    background-color: var(--white-color);
    font-family: "Public Sans";
    padding: 20px 0px 10px;
}

.header.fixed {
    position: sticky;
    top: -10px;
    z-index: 100000;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
}

.header__inner::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -11px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar {
    margin-left: auto;
    margin-right: 88px;
}

.navbar__list {
    display: flex;
    gap: 0 38px;
}

.navbar__item a {
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55;
}

.navbar__item:hover a {
    color: var(--color-black);
}

.navbar__item--active {
    position: relative;
}

.navbar__item--active a {
    color: var(--color-black);
}

.navbar__item--active::after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 4;
    left: 0;
    bottom: -26px;
    width: 16px;
    height: 2px;
    background-color: var(--text-color-black-gray);
}

/* hero */
.hero {
    padding: 60px;
    font-family: "Public Sans";
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__content {
    max-width: 393px;
    margin-right: 101px;
}

.hero__heading {
    max-width: 368px;
    color: var(--color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero-cta {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-cta__watch {
    cursor: pointer;
    display: flex;
    gap: 0px 8px;
    justify-content: space-between;
    align-items: center;
}

.hero-cta__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 4px solid var(--text-color-black-gray);
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    transition: all ease 0.75s;
}

.hero-cta__play:hover {
    transform: rotate(315deg);
}

.hero-cta__icon {
    transform: rotate(45deg);
}

.hero-cta__link {
    color: #152427;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.hero__media {
    position: relative;
    width: 646px;
}

.hero__media--background {
    position: absolute;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    transform: translate(50%, 50%);
    z-index: -1;
}

.hero__images {
    width: 100%;
    display: flex;
    gap: 0px 20px;
    margin-right: 25px;
}

.hero-item {
    border-radius: 110px;
    width: 33.3333%;
    max-height: 466px;
}

.hero-item:nth-child(2) {
    margin-top: 77px;
}

.hero-item__img {
    border-radius: 110px;
    width: 100%;
    object-fit: cover;
    height: 466px;
}

.hero__flower {
    position: absolute;
    z-index: 100;
    left: -172px;
    top: -32px;
}

.hero__flower--flower {
    position: absolute;
    top: 2%;
    left: -7.8%;
}

.hero__flower--reverse {
    position: absolute;
    z-index: 100;
    transform: rotate(180deg);
    right: 6%;
    bottom: -9%;
}

.logo {
    margin-top: 42px;
}

.logo__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 76px 122px;
    border-radius: 100.5px;
    background-color: var(--color-light-green);
}

.logo__row {
    display: flex;
    align-items: center;
    gap: 0 11px;
}

/* Service */
.service {
    margin-top: 50px;
    padding: 56px 0px;
    font-family: "Poppins", sans-serif;
}

.section-title {
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    margin-bottom: 12px;
    margin-left: 46px;
}

.section-title::before {
    content: "";
    position: absolute;
    left: -46px;
    bottom: 16px;
    display: inline-block;
    background-color: var(--color-black);
    width: 25px;
    height: 1px;
    margin-right: 21px;
}

.service__row {
    padding-right: 76px;
    display: flex;
    justify-content: space-between;
}

.section-heading {
    position: relative;
    color: var(--color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.blog__heading::after,
.project__heading::after,
.process__heading::after,
.service__heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 351px;
    bottom: 19px;
    background-color: var(--color-black);
    width: 66px;
    height: 2px;
}

.service__heading {
    max-width: 520px;
}

.service__control {
    display: flex;
    gap: 0px 17px;
    margin-top: 41px;
}

.service__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: var(--color-black);
    background-color: var(--color-light-green);
}

.service__icon:hover {
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.service__icon--prev {
    transform: rotate(180deg);
}

.service__hidden {
    padding-bottom: 16px;
    overflow: hidden;
}

.service__list {
    margin-top: 76px;
    display: flex;
    gap: 0 16px;
    transition: all 0.5s ease;
    flex: 1;
}

.service-item {
    width: 33.3333%;
    flex-shrink: 0;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 0px 0px 20px 20px;
}

.service-item__content:hover {
    /* padding: 24px 18px 24px 18px; */
    border-radius: 0px 0px 20px 20px;
    background: #fff;
}

.service-item__img {
    display: block;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 318px;
}

.service-item__content {
    padding: 24px;
    transition: all ease 0.25s;
}

.service-item__heading a {
    color: var(--color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    max-width: 268px;
    margin-top: 18px;
    color: var(--color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* about */
.about {
    padding: 50px 0px;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    gap: 0px 64px;
}

.about__media {
    position: relative;
    max-width: 591px;
}

.about__images {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}

.about__img {
    display: inline-block;
    width: 285px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
}

.about__img:first-child {
    margin-top: 70px;
    margin-right: 17px;
}

.about__img:hover {
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__decor {
    position: absolute;
    top: 0;
    left: 46px;
    z-index: 10;
}

.about__flower {
    position: absolute;
    top: -36px;
    left: -36px;
}

.about-design {
    font-family: "Public Sans";
    position: absolute;
    z-index: 10;
    top: 418px;
    right: -9px;
    width: 143px;
    padding: 19px 23px 12px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-design__heading {
    color: var(--color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about-design__desc {
    margin-top: 6px;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.about-design__desc--black {
    /* display: inline-block; */
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 500;
}

.mt-10 {
    position: relative;
    margin-top: 10px;
}

.mt-10::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -3px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.mt-10::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background-color: #83a17d;
}

.about-design__desc--block {
    display: block;
    text-align: right;
    margin-top: 3px;
}

.about-design__icon {
    margin-top: 3px;
}

.about-design__row {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-design__avatar-row {
    display: flex;
}

.about-design__avatar {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--white-color);
}

/* about content */

.about__heading {
    margin-top: 8px;
}

.about__desc {
    margin-top: 12px;
    color: var(--color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.about__row {
    display: flex;
    gap: 0px 24px;
    padding: 20px;
    margin-top: 36px;
    border-bottom: 1px solid #83a17d;
}

.about__value {
    color: var(--color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.about__row .about__desc {
    margin-top: 0;
    font-size: 1.4rem;
}

/* Process */
.process {
    /* background-color: #4dbb9a; */
    padding: 36px 0 48px;
    margin-top: 39px;
}

.process__heading {
    margin-top: 20px;
    width: 477px;
}

.process__heading::after {
    left: 420px;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    cursor: pointer;
    position: relative;
    padding: 57px 41px 54px 20px;
    display: flex;
    transition: all ease 0.25s;
}

.process-item::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process-item:hover {
    border-radius: 33px;
    background-color: var(--color-light-green);
}

.process-item:hover.process-item::after {
    width: 0;
}

.process-item:hover .process-item__more {
    display: inline-block;
}

.process-item:hover .process-item__img {
    opacity: 1;
}

.process-item__value {
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
    margin-right: 64px;
}

.process-item__img {
    position: absolute;
    bottom: 0;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
    transition: all ease 0.5s;
    opacity: 0;
}
.process-item__heading {
    color: var(--color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process-item__more {
    display: none;
    margin-top: 22px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    transition: all ease 0.2s;
}

.process-item__desc {
    width: 572px;
    margin-left: auto;
    margin-right: 41px;
    font-family: "Public Sans";
    color: var(--color-light-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

/* project */
.project {
    position: relative;
    background-color: var(--primary-color);
    padding: 116px 0px 63px;
    margin-top: 50px;
}

.project__row {
    display: flex;
    justify-content: space-between;
}

.project__heading {
    max-width: 457px;
    color: #e7f9f9;
}

.project__heading::after {
    left: 294px;
    background-color: var(--color-blue);
}

.project__content {
    max-width: 590px;
}

.project__desc {
    color: var(--color-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.project__more {
    display: inline-block;
    margin-top: 13px;
    margin-right: 26px;
    color: #fff;
}

.project__arrow {
    cursor: pointer;
    color: #80a07b;
}

.project__video {
    margin-top: 65px;
}

.project__video--play {
    width: 1140px;
    height: 544px;
    border-radius: 22px;
}

.project__decor {
    position: absolute;
    top: 56px;
    right: 32px;
}

.project__flower {
    position: absolute;
    right: -26px;
    top: 94px;
}

/* feature */
.feature {
    margin-top: 65px;
    padding: 75px 0px;
}

.feature__content {
    text-align: center;
}

.feature__heading {
    display: inline-block;
    text-align: center;
    max-width: 520px;
}

.feature__desc {
    color: var(--color-light-gray);
    margin: 20px auto 0;
    max-width: 547px;
    font-weight: 500;
}

.feature__list {
    margin-top: 103px;
    display: flex;
    gap: 0px 45px;
    justify-content: space-between;
    align-items: center;
}

.feature-item {
    cursor: pointer;
    background: #fff;
    width: calc(33.3333% - 45px);
    max-height: 362px;
    text-align: center;
    padding: 60px 43px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: all ease 0.25s;
}

.feature-item:hover {
    transform: translateY(-54px);
    border: none;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.feature-item__heading {
    margin-top: 20px;
    color: var(--color-black);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.feature-item__desc {
    color: var(--color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72;
}

/* blog */
.blog {
    margin-top: 45px;
    padding: 65px 0px;
}

.blog__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    max-width: 520px;
}

.blog__heading::after {
    left: 489px;
}

.blog__desc {
    width: 409px;
    color: var(--color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 30px;
    margin-top: 90px;
}

.blog-item {
    background-color: var(--white-color);
}

.blog-item:hover .blog__content {
    padding-left: 30px;
    border-radius: 0px 0px 20px 20px;
    background-color: var(--white-color);
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__story {
    color: var(--color-light-green);
    background-color: var(--primary-color);
}

.blog-item__img {
    width: 100%;
    height: 317px;
    border-radius: 40px 40px 0px 0px;
    transition: all ease 0.25s;
}

.blog__content {
    transition: all ease 0.25s;
    padding: 26px 14px 12px 0px;
}

.blog-item__story {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 107px;
    height: 26px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
    color: #000;
    background-color: var(--color-light-green);
    border-radius: 20px;
}

.blog-item__desc {
    max-height: 90px;
    margin-top: 13px;
    padding-bottom: 38px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    border-bottom: 1px solid #c4c4c4;
}

.blog-item__date {
    display: block;
    text-align: right;
    margin-top: 16px;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.footer {
    background-color: var(--primary-color);
    margin-top: 37px;
    padding: 72px 0px 50px;
}

.footer__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 45px;
}

.footer__inner::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}

.footer__heading {
    color: var(--white-color);
    font-size: 3.2rem;
    font-weight: 500;
}

.footer__form {
    width: 354px;
    border-bottom: 1px solid var(--color-gray);
}

.footer__input {
    font-size: 2.2rem;
    color: var(--white-color);
    outline: none;
    border: none;
    background-color: transparent;
    padding: 36px 0 25px;
}

.footer__input::placeholder {
    color: var(--color-gray);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.footer__form--submit {
    cursor: pointer;
    border: none;
    outline: none;
    color: #c4c4c4;
    background-color: transparent;
}

.footer-social {
    margin-top: 47px;
    display: flex;
    align-items: center;
    gap: 0px 20px;
}

.footer-social__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid var(--color-gray);
}

.footer-social__icon:hover {
    border: none;
    background-color: #a75325;
}

.footer__row {
    width: 38%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-item__heading {
    color: var(--white-color);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.footer-item__list {
    margin-top: 6px;
}

.footer-item__info {
    white-space: nowrap;
    display: inline-block;
    color: var(--color-gray);
    font-family: "Public Sans";
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 25px;
}
